.my-button{
    width: 180px;
    height: 65px;
    background-color: #a54aef;
    color: #0f0647;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}
img {
    max-width: 32px;
}
