<!-- Simple Component, holding a counter store -->
<div class="container text-center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <button class="btn btn-primary" (click)="increment()">Increment</button>
    <button class="btn btn-primary" (click)="decrement()">Decrement</button>
    <div>Current Count: {{ count$ | async }}</div>

    <button class="btn btn-danger" (click)="reset()">Reset Counter</button>
    <!--Extra component, also subscribed to the store-->
    <!--  <app-extra></app-extra>-->
</div>
