<div class="container">
  <div class="row">
    <div class="col">
      <h2>Various Decorators</h2>
      <a routerLink="viewchild" class="btn btn-primary">@ViewChild</a>
      <a routerLink="viewchildren" class="btn btn-primary">@ViewChildren</a>
      <a routerLink="hostlistener" class="btn btn-primary">@HostListener</a>
      <a routerLink="hostbinding" class="btn btn-primary">@HostBinding</a>
      <hr>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
