<div class="card">
  <div class="card-block">
    <div class="card-header info-color">
      <h4 class="card-title">Customers</h4>
    </div>
    <div class="card-body">
      <p>Our awesome customers</p>
      <app-search></app-search>
      <ul class="list-group">
        <li class="list-group-item">Google</li>
        <li class="list-group-item">Facebook</li>
        <li class="list-group-item">Intel</li>
        <li class="list-group-item">Microsoft</li>
      </ul>
    </div>
  </div>
</div>
