<!--Card-->
<div class="card">

  <!--Card image-->
  <img class="img-fluid" src="assets/img/photo-01.jpg" alt="Mountains and sea">
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">Relax</h4>
    <!--Text-->
    <p>Get some rest while visiting beautiful landscapes and enjoying the mountains and the sea.</p>
    <hr>
    <p><em>No content projection used in this component</em></p>
    <button class="btn btn-primary" (click)="onSubmit('relax')">
      Learn more
    </button>
  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->