<!--Card-->
<div class="card">

  <!--Card image-->
  <img class="img-fluid" src="assets/img/photo-02.jpg" alt="Mountains and sea">
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">
      <ng-content></ng-content>
    </h4>
    <!--Text-->
    <p class="card-text">Escape the city, avoid rush hour, no more deadlines. Get away and be free.</p>
    <hr>
    <p><em>The title of this card is projected</em></p>
    <button class="btn btn-primary">
      Learn more
    </button>
  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->