<h1 i18n="Homepage|Header">Welcome to Angular</h1>
<h2 i18n="Homepage|Heading2">This site uses internationalization options</h2>
<p i18n="Homepage|Description of internationalization process">Internationalization is the process of designing and preparing your app to be usable in different languages.
  Localization is the process of translating your internationalized app into specific languages for particular locales.
</p>
<!--Workshop : add internationalization for the text below:-->
<p>Angular simplifies the following aspects of internationalization:
</p>
<ul>
  <li>Displaying dates, number, percentages, and currencies in a local format.</li>
  <li>Preparing text in component templates for translation.</li>
  <li>Handling plural forms of words.</li>
  <li>Handling alternative text.</li>
</ul>
<p>
  More info: <a href="https://angular.io/guide/i18n">https://angular.io/guide/i18n</a>
</p>


